<h1>Hey</h1>
<%= link_to 'Calendar', controller: 'calendar' %>
<%= link_to 'Clients', controller: 'clients' %>
<%= link_to 'Services', controller: 'services' %>
<%= link_to 'Employees', controller: 'employees' %>
